/* 
    Document   : icons
    Created on : Dec 23, 2012, 2:35:33 PM
    Author     : rduran
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.ui-widget-content .accept {
    background-image: url("#{resource['images/tick.png']}");               
}

.ui-widget-content .archive {
    background-image: url("#{resource['images/archive-blue.png']}");               
    width: 32px;
    height: 32px;
}

.ui-widget-content .arrow-switch {
    background-image: url("#{resource['images/arrow-switch.png']}");               
}

.ui-widget-content .attach {
    background-image: url("#{resource['images/attach.png']}");               
}

.ui-widget-content .back-all {
    background-image: url("#{resource['images/back-all.png']}");
}

.ui-widget-content .back-one {
    background-image: url("#{resource['images/back-one.png']}");
}

.ui-widget-content .book-open-text-image {
    background-image: url("#{resource['images/book-open-text-image.png']}");               
}

.ui-widget-content .blue-document-tree {
    background-image: url("#{resource['images/blue-document-tree.png']}");
}

.ui-widget-content .blue-document-copy {
    background-image: url("#{resource['images/blue-document-copy.png']}");
}

.ui-widget-content .button-power-blue {
    background-image: url("#{resource['images/button-power-blue.png']}");
    width: 32px;
    height: 32px;
}

.ui-widget-content .calculator {
    background-image: url("#{resource['images/calculator-pencil.png']}");
}

.ui-widget-content .cancel {
    background-image: url("#{resource['images/cancel.png']}");               
}

.ui-widget-content .document-excel-table {
    background-image: url("#{resource['images/document-excel-table.png']}");
}

.ui-widget-content .folder-tree {
    background-image: url("#{resource['images/folder-tree.png']}");               
}

.ui-widget-content .folder {
    background-image: url("#{resource['images/folder.png']}");               
}

.ui-widget-content .folder-open {
    background-image: url("#{resource['images/folder-open.png']}");               
}

.ui-widget-content .gear {
    background-image: url("#{resource['images/gear.png']}");               
}

.ui-widget-content .gear-plus {
    background-image: url("#{resource['images/gear-plus.png']}");               
}

.ui-widget-content .home {
    background-image: url("#{resource['images/inbox-blue.png']}");
    width: 32px;
    height: 32px;
}

.ui-widget-content .magnifier-info {
    background-image: url("#{resource['images/magnifier-info.png']}");
}

.ui-widget-content .plus {
    background-image: url("#{resource['images/plus.png']}");
}

.ui-widget-content .report {
    background-image: url("#{resource['images/report-medium.png']}");
}

.ui-widget-content .save {
    background-image: url("#{resource['images/save.png']}");               
}

.ui-widget-content .shopping-basket {
    background-image: url("#{resource['images/shopping-bag-blue.png']}");               
    width: 32px;
    height: 32px;
}

.ui-widget-content .shopping-basket-arrow {
    background-image: url("#{resource['images/shopping-basket-blue.png']}");               
    width: 32px;
    height: 32px;
}

.ui-widget-content .shopping-basket-plus {
    background-image: url("#{resource['images/shopping-basket-plus.png']}");               
}

.ui-widget-content .task {
    background-image: url("#{resource['images/task.png']}");
}

.ui-widget-content .task-arrow {
    background-image: url("#{resource['images/task-arrow.png']}");
}

.ui-widget-content .task-pencil {
    background-image: url("#{resource['images/task-pencil.png']}");
}

.ui-widget-content .user {
    background-image: url("#{resource['images/user.png']}");
}

.ui-widget-content .users {
    background-image: url("#{resource['images/users_blue.png']}");
    width: 32px;
    height: 32px;
}

.ui-widget-content .user-suit {
    background-image: url("#{resource['images/user-edit.png']}");
}

.ui-widget-content .user-white {
    background-image: url("#{resource['images/user-white.png']}");
}

.ui-icon.blue { 
    background-image: url("#{resource['images/ui-icons_2e83ff_256x240.png']}");
}

.ui-icon.yellow { 
    background-image: url("#{resource['images/ui-icons_fbc856_256x240.png']}");
}

.ui-widget-content .checked { 
    background-image: url("#{resource['images/ui-check-box.png']}");
}

.ui-widget-content .unchecked { 
    background-image: url("#{resource['images/ui-check-box-uncheck.png']}");
}

.ui-widget-content .checkedMany { 
    background-image: url("#{resource['images/ui-check-boxes.png']}");
}
