body {
	background-color: #D7DFE2;
	margin: 0px;
	padding: 0px;
	font: 10px verdana, arial, helvetica;
	color: #416271;
}

h1 {
	padding: 5px 0 5px 0;
	margin: 0px;
	font-size: 18px;
	color: #FFFFFF;
}

h2 {
	padding: 5px 0 5px 0;
	margin: 0px;
	font-size: 18px;
	color: #f7951e;
}

h3 {
	padding: 0 0 5px 0;
	margin: 0px;
	font-size: 12px;
	color: #59cef9;
}

h4 {
	padding: 0 0 10px 0;
	margin: 0px;
	font-size: 14px;
	color: #7ea743;
}

p {
	text-align: justify;
	padding: 2px 0 2px 0;
	margin: 0px;
	line-height: 15px;
}

p.white {
	color: #FFFFFF;
}

p.green {
	color: #d4f0ba;
}

p.clear {
	clear: both;
	padding: 10px 0 0 0;
}

img.left_img {
	border: 1px #cae6c6 solid;
	float: left;
	margin: 0 10px 0 0;
}

img.box_img {
	float: left;
	padding: 0 20px 0 0;
}

#main_container {
	width: 900px;
	height: 100%;
	margin: auto;
	background-color: #FFFFFF;
}

#header {
	width: 900px;
	height: auto;
	margin: auto;
}

#logo {
	padding: 15px 0 0 30px;
	float: left;
}

#menu ul {
	list-style: none;
	padding: 0 0 0 230px;
	margin: auto;
	display: block;
}

#menu ul li {
	list-style: none;
	display: inline;
	float: left;
	width: auto;
	height: 42px;
	padding: 0px;
	line-height: 42px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

#menu ul li a {
	height: 42px;
	width: auto;
	float: left;
	text-decoration: none;
	padding: 0 0 0 25px;
	margin: 0px 3px 0px 3px;
	color: #fff;
	text-align: center;
}

#menu ul li a:hover {
	height: 42px;
	width: auto;
	text-decoration: none;
	color: #fff;
	padding: 0 0 0 25px;
	background-image: url("../resources/facturacion/images/menu_arrow.png")
		no-repeat left;
}

#menu ul li a.current {
	height: 42px;
	width: auto;
	float: left;
	text-decoration: none;
	padding: 0px;
	color: #fff;
	padding: 0 0 0 25px;
	background-image: url("../facturacion/images/menu_arrow.gif") no-repeat
		left;
}

/*----------------middle green box-----------*/
.green_box {
	width: 900px;
	height: 265px;
	clear: both;
	background: url(images/green_box_bg.gif) no-repeat left #50a842;
	background-position: 50px 0px;
}

.clock {
	float: left;
	padding: 0px;
}

.text_content {
	width: 350px;
	float: left;
	padding: 20px 0 0 0;
}

.read_more {
	width: 101px;
	height: 29px;
	float: right;
	padding: 10px;
	background: url(images/read_more_bg.gif) no-repeat center;
	line-height: 29px;
	text-align: center;
}

.read_more a {
	text-decoration: none;
	color: #FFFFFF;
}

.read_more_link {
	width: auto;
	float: right;
	padding: 3px 25px 3px 0;
	background: url(images/orange_bullet.gif) no-repeat right;
}

.read_more_link a {
	text-decoration: none;
	color: #f7941d;
}
/*----------------------left navigation-------------------------*/
#left_nav {
	width: 280px;
	height: auto;
	padding: 5px 0 0 0;
	float: left;
}

#left_nav ul {
	list-style: none;
	margin: auto;
	display: block;
	padding: 0px;
}

#left_nav ul li {
	list-style: none;
	display: block;
	width: auto;
	height: 29px;
	padding: 0px;
	line-height: 29px;
}

#left_nav ul li a {
	height: 29px;
	display: block;
	width: 280px;
	text-decoration: none;
	padding: 0 0 0 35px;
	margin: 7px 0 7px 0;
	color: #6898ac;
	background: url(../resources/facturacion/images/left_nav_arrow.gif)
		no-repeat left;
	border-bottom: 1px #bedf77 dashed;
	background-position: 0px 0px;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
/*--------------------------main_content-------------------*/
#left_content {
	width: 320px;
	height: auto;
	margin: 10px;
	float: left;
	padding: 10px;
	background: url(images/left_content_bg.gif) repeat-x top;
}

#right_content {
	width: 490px;
	height: auto;
	margin: 10px 0 0 0;
	float: left;
	padding: 10px;
}
/*----------------------top right navigation-------------------------*/
#right_nav {
	width: 263px;
	height: auto;
	padding: 20px 0 0 50px;
	float: left;
}

#right_nav ul {
	list-style: none;
	margin: auto;
	display: block;
	padding: 0px;
}

#right_nav ul li {
	list-style: none;
	display: block;
	width: auto;
	height: 29px;
	padding: 0px;
	line-height: 29px;
}

#right_nav ul li a {
	height: 29px;
	display: block;
	width: 263px;
	text-decoration: none;
	padding: 0 0 0 35px;
	margin: 7px 0 7px 0;
	color: #d4f0ba;
	background: url(../resources/facturacion/images/right_nav.gif) no-repeat
		center;
	background-position: 0px 0px;
}

#right_nav ul li a:hover {
	height: 29px;
	display: block;
	width: 263px;
	text-decoration: none;
	color: #d4f0ba;
	padding: 0 0 0 35px;
	margin: 7px 0 7px 0;
	background: url(../resources/facturacion/images/right_nav_a.gif)
		no-repeat center;
	background-position: 0px 0px;
}

.products_box {
	height: 110px;
	padding: 10px 0 5px 0;
	border-bottom: 1px #a7ef6e dashed;
}

.search_box {
	width: 267px;
	height: 124px;
	float: left;
	margin: 15px 10px 10px 0;
	background: url(images/search_box_bg.gif) no-repeat center;
	background-position: 0px 0px;
}

.search_title {
	font-size: 14px;
	color: #7ea743;
	padding: 10px 0 0 15px;
	float: left;
	font-weight: bold;
}

input.search_input {
	width: 170px;
	height: 20px;
	background-color: #FFFFFF;
	border: 1px #c0c485 solid;
	float: left;
	margin: 15px 0 0 15px;
}

input.submit {
	float: left;
	padding: 0 0 0 10px;
}

.subsearch {
	width: 200px;
	float: left;
	color: #8b8e5d;
	padding: 0 0 0 15px;
}

.contact_information {
	width: 200px;
	float: left;
	padding: 10px 0 0 10px;
}

.news {
	width: 310px;
	clear: both;
	padding: 10px 0 10px 0;
}

.news_icon {
	width: 30px;
	float: left;
	padding: 0 10px 0 0;
}

.news_content {
	width: 260px;
	float: left;
	padding: 0 0 0 10px;
	text-align: justify;
	line-height: 13px;
}

.news_content span {
	color: #4ab7e8;
}

.services_box {
	height: 120px;
	padding: 10px 0 5px 0;
	margin: 0px 0px 10px 0;
	border-bottom: 1px #a7ef6e dashed;
}

.best_sol_box {
	width: 277px;
	float: left;
}
/*----------------------news_archive list-------------------------*/
.news_archive {
	width: 190px;
	height: auto;
	padding: 10px 0 0 10px;
	float: left;
}

.news_archive ul {
	list-style: none;
	padding: 10px 10px 10px 10px;
	margin: 0px;
	width: 190px;
	float: left;
}

.news_archive ul li {
	list-style: none;
	width: 180px;
	height: auto;
	padding: 0px;
	line-height: 26px;
}

.news_archive ul li a {
	width: 180px;
	text-decoration: none;
	padding: 0 0 0 20px;
	margin: 6px 0px 6px 0px;
	color: #000;
	text-align: left;
	background: url(images/bullet.gif) no-repeat left;
	background-position: 0px 0px;
}

.news_archive ul li a:hover {
	width: 180px;
	text-decoration: underline;
	color: #000;
}

.contact_info_box {
	width: 481px;
	height: 116px;
	margin: 5px;
	background: url(images/contact_info_bg.gif) no-repeat center;
}

.contact_info_title {
	font-size: 14px;
	color: #7ea743;
	padding: 10px 0 0 15px;
	font-weight: bold;
}

.contact_info {
	float: left;
	padding: 15px 10px 5px 13px;
}

.adress {
	clear: both;
	padding: 10px 0 0 20px;
}

/*-----------------------contact_form-------------------*/
#contact_form {
	width: 310px;
	height: auto;
	padding: 10px 0 0 60px;
}

.form_row {
	float: left;
	padding: 4px 0 4px 0;
}

label {
	width: 70px;
	float: left;
	padding: 3px 5px 0 0;
	color: #59a5bf;
	text-align: right;
}

input.contact_input {
	width: 220px;
	height: 18px;
	float: left;
	border: 1px #ced6ec solid;
	background-color: #dbedf3;
	color: #000;
}

textarea.contact_textarea {
	width: 220px;
	height: 80px;
	float: left;
	border: 1px #ced6ec solid;
	background-color: #dbedf3;
	color: #000;
}

.wrapper {
	/*
	background: url(../img/bg_wrapper.jpg) repeat-x bottom;
	*/
	position: relative;
	width: auto;
	-webkit-box-shadow: 0px 0px 20px #4175ea;
	-moz-box-shadow: 0px 0px 50px #96C940;
	filter: shadow(color = #96C940, direction = 135, strength = 2);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border-color: #333333;
	margin: 20px auto;
}

.send a {
	width: 62px;
	height: 24px;
	display: block;
	background: url(../resources/facturacion/images/read_more_bg_white.gif)
		no-repeat center;
	background-position: 0px 0px;
	line-height: 22px;
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 40px;
	float: right;
	margin: 10px;
}
/*--------------wide_content-----------*/
#wide_content {
	width: auto;
	padding: 10px 20px 10px 20px;
}

/*-----------------------------footer------------------*/
#footer {
	clear: both;
	width: auto;
	height: 37px;
	color: #fff;
	background-color: #416271;
}

.copyright {
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}

.footer_links {
	float: right;
	padding-right: 15px;
	padding-top: 13px;
}

.footer_links a {
	text-decoration: none;
	color: #fff;
	padding-left: 10px;
}

.footer_links a:hover {
	text-decoration: underline;
	color: #fff;
}

.section {
	overflow: auto;
	/* Definimos el padding inferior:
               50px del pie de pagina mas 10px de separacion
            */
	padding-bottom: 0px;
	/* Definimos un padding superior */
	padding-top: 400px;
}

/*-----------------------------cambios------------------*/
.roows {
	height: 42px;
	width: auto;
	float: left;
	text-decoration: none;
	padding: 0px;
	color: #fff;
	background: url("#{resource['facturacion/images/menu_arrow.gif']}")
		no-repeat left;
}

.banner {
	background: url("#{resource['facturacion/images/logo1.png']}") no-repeat
		left;
}

.texto_header {
	float: left;
	color: #12457A;
	width: 100%;
	font-family: Tahoma, Verdana !important;
	font-size: 35px;
}

#menu3 {
	width: 900px;
	height: 42px;
	padding: 0px;
	clear: both;
	background-color: #ffffff;
}
/*---------------------- cambios menu-------------------------*/
#menu {
	width: 900px;
	height: 42px;
	padding: 0px;
	clear: both;
	background-color: #55636E;
	-webkit-box-shadow: 0px 0px 20px #55636E;
}
/*3F6B5C */
#menu2 {
	width: 900px;
	height: 42px;
	padding: 0px;
	clear: both;
	background-color: #C0D34B;
	-webkit-box-shadow: 0px 0px 20px #C0D34B;
}

.box_content {
	width: 400px !important;
	height: auto !important;
	float: left !important;
	margin: 14px -28px 24px 43px !important;
	background: url("#{resource['facturacion/images/box_bg.gif']}")
		no-repeat top center !important;
}

#main_content {
	width: 900px;
	height: auto;
	margin: auto;
	padding: 0 0 0 30px;
}

.box_text_content {
	width: 400px !important;
	float: left !important;
	padding: 15px 0 0 15px !important;
}

a.details {
	float: right;
	padding: 5px 15px 0 0;
	text-decoration: none;
	font-weight: bold;
	color: #f8851f;
}

.box_text {
	width: 350px !important;
	float: left !important;
	text-align: justify !important;
	padding: 0 0 0 10px !important;
}

span.dark_blue {
	color: #116c64 !important;
}

.box_icon {
	float: left;
	padding: 0 5px 0 0;
}

.box_title {
	padding: 10px 0 10px 0 !important;
}

.title_icon {
	float: left !important;
	padding: 0 5px 0 10px !important;
}

h2 {
	color: #759f1b;
	font-size: 16px;
	float: left;
	font-weight: bold;
	margin: 0px;
	padding: 5px 0 0 0;
}

#main_container_login {
	width: 900px;
	height: 800px;
	margin: auto;
	background-color: #FFFFFF;
	border-radius: 24px;
}

.mySlides {
	display: none
}

.demo {
	cursor: pointer
}

.w3-section, .w3-code {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}

.w3-content {
    max-width: 980px;
    margin: auto;
}

.w3-col.s4 {
    width: 20%;
}

.w3-opacity, .w3-hover-opacity:hover {
    opacity: 0.60;
}

.w3-opacity-off, .w3-hover-opacity-off:hover {
    opacity: 1;
}


.w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
    padding: 0 8px;
}

.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
    float: left;
    width: 100%;
}

.w3-button:hover {
   /* color: #000!important;
    background-color: #ccc!important;*/
}


.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: transparent !important;
    width:3%;
    height:10%;
    
}


.w3-display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}


.w3-display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}

.w3-animate-left{animation:animateleft 2s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}