/* Submenu del menu principal  */
div.menu .nav ul.menu li .submenu ul li a.usuarios_add{ 
	
	background: url("#{resource['facturacion/images/iconos/menu_principal/usuarios_add.png']}") no-repeat scroll top left;
	background-position: 8px 8px;	
}

div.menu .nav ul.menu li .submenu ul li a.usuarios_permitir{ 
	background: url("#{resource['facturacion/images/iconos/menu_principal/usuarios_permitir.png']}") no-repeat scroll top left;
	background-position: 8px 8px;	
}

div.menu .nav ul.menu li .submenu ul li a.usuarios_eliminar{ 
	background: url("#{resource['facturacion/images/iconos/menu_principal/usuarios_eliminar.png']}") no-repeat scroll top left;
	background-position: 8px 8px;	
}


/* Submenu de las páginas interiores */


.panel .inside .box .submenu ul li a.buscar{
	background: url("#{resource['facturacion/images/iconos/submenu/down2.png']}") no-repeat scroll top left;
	background: url("#{resource['facturacion/images/iconos/submenu/buscar.png']}") no-repeat scroll top right;
}

.panel .inside .box .submenu ul li a.agendar{
	background: url("#{resource['facturacion/images/iconos/submenu/agenda.png']}") no-repeat scroll top right;
	
}

.panel .inside .box .submenu ul li a.grupos{
	background: url("#{resource['facturacion/images/iconos/submenu/grupos.png']}") no-repeat scroll top right;
	
}



.panel .inside .box .submenu ul li a.comprar{
	background: url("#{resource['facturacion/images/iconos/submenu/comprar.png']}") no-repeat scroll top right;
}

.panel .inside .box .submenu ul li a.ajustes{
	background: url("#{resource['facturacion/images/iconos/submenu/ajustes.png']}") no-repeat scroll top right;
}
.panel .inside .box .submenu ul li a.nuevo{
	background: url("#{resource['facturacion/images/iconos/submenu/page_add.png']}") no-repeat scroll top right;
}
.panel .inside .box .submenu ul li a.regresar{
	background: url("#{resource['facturacion/images/iconos/submenu/arrow_left.png']}") no-repeat scroll top right;
}

.panel .inside .box .submenu ul li a.cancelar{
	background: url("#{resource['facturacion/images/iconos/submenu/cancel.png']}") no-repeat scroll top right;
}
.panel .inside .box .submenu ul li a.guardar{
	background: url("#{resource['facturacion/images/iconos/submenu/disk.png']}") no-repeat scroll top right;
}

.panel .inside .box .submenu ul li a.inicio{
	background: url("#{resource['facturacion/images/iconos/submenu/house.png']}") no-repeat scroll top right;	
}

.panel .inside .box .submenu ul li a.descargar{
	background: url("#{resource['facturacion/images/iconos/submenu/down2.png']}") no-repeat scroll top right;	
}

.panel .inside .box .submenu.big ul li a{
	width:102px;
	background-position: 80px 5px;
}

.panel .inside .box .submenu.short ul li a{
	width:50px;
	font-size: 0em;
	background-position: 6px 0px;
}


.panel .inside .box .submenu ul li a:hover{
	text-decoration: underline;	
}