<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core" 
	  xmlns:p="http://primefaces.org/ui">
	
<f:view contentType="text/html">
	<h:head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<h:outputScript library="facturacion" name="/js/modernizr.custom.84287.js"/>
		<h:outputScript library="facturacion" name="js/interfaz.js"/>
		<h:outputScript library="js" name="base.js" />
		<h:outputScript library="facturacion" name="js/validaciones.js"/>
        <h:outputScript library="js" name="jsfcrud.js" />
        <h:outputScript library="js" name="ruc_jquery_validator.js" />
        <h:outputScript library="js" name="jquery.validate.js" />
        <h:outputScript library="js" name="validacion.js" />
		<script type="text/javascript">
			if(history.forward(1)){
				history.replace(history.forward(1));
			}
		</script>
		<script type="text/javascript" src="#{request.contextPath}/resources/js/validacion.js"></script>
		<ui:insert name="head" />
	
		
		
		<link rel="icon" href="#{request.contextPath}/resources/facturacion/images/iconos/agua.ico" type="image/x-icon"/>
		
		<h:outputStylesheet library="facturacion" name="css/bootstrap/bootstrap.css" />
		<h:outputStylesheet library="facturacion" name="css/bootstrap/bootstrap-responsive.css" />
		<h:outputStylesheet library="facturacion" name="css/skin.css" />
		<h:outputStylesheet library="facturacion" name="css/base-bg.css" />
		<h:outputStylesheet library="facturacion" name="css/base.css" />
		
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1"/>		
				
		<ui:insert name="head" />
		
		<title>
			<ui:insert name="title">
				SISTEMA DE FACTURACIÓN PESILLO IMBABURA
			</ui:insert>
		</title>
	
	</h:head>
						
	<h:body class="big">
		<div id="wrapperIE" class="wrapper">
			    <div class="styleHeaderConsulta">
					<div class="content_header" style="margin: auto; padding: 10px 0 10px 0;">
						<!--div class="banner">
				
						<img src="#{request.contextPath}/resources/facturacion/images/ok.png" alt="Logo Pronaca" />
						</div-->
						<div class="texto_header">Facturaci&#243;n Electr&#243;nica Grupo Pronaca</div>
					</div>
				</div>
				<div class="headerMenu">
					<div class="nav_principal">
						<h:link id = "corporacion" class="nav_principal_a"  value="Inicio &gt;" />
						<a id = "ingreso" class="nav_principal_a" href=""><h:outputText value="#{tituloMenuActual}" /></a>
					</div>
				</div>
		<h:form id="#{idForm}">
		<ui:insert name="contentCenter">
		<ui:include src="defaultContent/body.xhtml" />	
		 <f:facet name="footer"> 
         <p:outputLabel value="asdas"></p:outputLabel>   
        </f:facet>							
		</ui:insert>	
		</h:form>	
		 <f:facet name="footer"> 
         <p:outputLabel value="asdas"></p:outputLabel>   
        </f:facet>	
 
	</div>				
	</h:body>


					
			
			
</f:view>
</html>