<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core" 
	  xmlns:p="http://primefaces.org/ui">
	
<f:view contentType="text/html">
	<h:head>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
        <h:outputScript library="js" name="validacion.js" />
		<script type="text/javascript">
			if(history.forward(1)){
				history.replace(history.forward(1));
			}
		</script>
		<script type="text/javascript" src="#{request.contextPath}/resources/js/validacion.js"></script>
		<script type="text/javascript" src="#{request.contextPath}/resources/js/banner.js"></script>
		<ui:insert name="head" />
		
		<link rel="icon" href="#{request.contextPath}/resources/facturacion/images/iconos/agua.ico" type="image/x-icon"/>
		
		<h:outputStylesheet library="facturacion" name="css/bootstrap/bootstrap.css" />
		<h:outputStylesheet library="facturacion" name="css/bootstrap/bootstrap-responsive.css" />
		<h:outputStylesheet library="facturacion" name="css/styleMen.css" />
		<h:outputStylesheet library="facturacion" name="css/style1.css" />
		<h:outputStylesheet library="facturacion" name="css/menus.css"/>
		<h:outputStylesheet library="facturacion" name="css/base.css" />
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1"/>		
				
		<ui:insert name="head" />
		
		<title>
			<ui:insert name="title">
				SISTEMA DE FACTURACI&#211;N PESILLO IMBABURA
			</ui:insert>
		</title>
		<style type="text/css">
	
				html,body{
				
				margin:0px;
				
				height:100%;
				
				}
	
		</style>
	</h:head>
						
	<h:body class="big">
	<div id="main_container_login" class="wrapper">
	<div id="header">
	<div id="menu2" class="banner">

	</div>	
	
   <div class="texto_header">
   <br />
   
             <center><a class="texto_header"><h:graphicImage library="facturacion" name="images/factura.png"/>Sistema de Gesti&#243;n Administrativa</a></center>
   
   <br />
   <br />
    </div>
	
	
    	 <div id="menu">
                <ul> 
                <li class="roows">
                <h:link id="cambiarPerfil" style=" font-size:13px; color: #FFFFFF;
                 float:left !important;" class="nav_principal_a" value="Inicio" 
                 outcome="/page/index2.jsf">
                 </h:link>
                 </li>
                
                <h:panelGroup rendered="#{null==loginDatamanager.loginObj}">
				<li class="roows">
                 <h:link id="ingreso" style=" font-size:13px; color: #FFFFFF;
                 float:left !important;" class="nav_principal_a" value="Ingreso" 
                 outcome="/login/login.jsf" >
                 </h:link>
                 </li>	
                 </h:panelGroup>	
                 
                 <h:panelGroup rendered="#{null!=loginDatamanager.loginObj}"> 
                 <li class="roows">
                  <h:link id="ingreso" style=" font-size:13px; color: #FFFFFF;
                 float:left !important;" class="nav_principal_a" value="Menu" 
                 outcome="/page/menu.jsf" >
                 </h:link>
                 </li>		
                 	</h:panelGroup>	
<!--                 <li class="roows"> -->
<!--                 <h:link id="cambiarPerfil" style=" font-size:13px; color: #FFFFFF; -->
<!--                  float:left !important;" class="nav_principal_a" value="Georeferenciaci&#243;n"  -->
<!--                  outcome="/index"> -->
<!--                  </h:link> -->
<!--                  </li>		 -->
<!--                  <li class="roows"> -->
<!--                 <h:link id="cambiarPerfil" style=" font-size:13px; color: #FFFFFF; -->
<!--                  float:left !important;" class="nav_principal_a" value="Contactenos"  -->
<!--                  outcome="/index"> -->
<!--                  </h:link> -->
<!--                  </li>	 -->
                 
    	
            </ul>
        </div>
    </div> 
    <div>
   
	 <ui:insert name="contentCenter">
	</ui:insert>
    </div>
    
    
	
	
	</div>
	</h:body>


					
			
			
</f:view>
</html>