<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutPantallas.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">

	<ui:param name="idForm" value="frmAdm" />
	<ui:param name="formul" value="#{consumoController.formul}" />
	<ui:param name="controlador" value="#{consumoController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />
	<ui:param name="tituloOpcionUsuario"
		value="#{msg['etiqueta.titulo.consumo.manual']}" />
	<ui:param name="tituloPaginaActual"
		value="#{msg['etiqueta.titulo.consumo.manual']}" />


	<ui:define name="contentCenter">
		<h:outputText value="#{controlador.formul}"></h:outputText>


		<h:panelGroup id="panelNuevo"
			rendered="#{consumoDatamanager.verPantalla=='N'}">

			<h:form id="formReg">
				<h:panelGrid columns="4" cellpadding="10" cellspacing="10">

					<h:outputLabel value="Código Medidor:" for="codigo" />
					<p:inputText id="codigo"
						value="#{consumoDatamanager.consumoFormul.idCodMed}"
						required="true" requiredMessage="Código es requerido:" />

					<h:outputLabel value="Consumo:" for="consumo" />
					<p:inputText id="consumo"
						value="#{consumoDatamanager.consumoFormul.totConsum}"
						required="true" requiredMessage="El consumo es requerido." />

				</h:panelGrid>



				<p:separator styleClass="separador"></p:separator>
				<h:panelGroup styleClass="barraInferior">

					<p:commandButton value="Guardar"
						actionListener="#{consumoController.crearConsumo()}"
						icon="ui-icon-guardar" style="width:101px;"
						styleClass="btn btn-success" update=":frmAdm :frmAdm:panelNuevo"
						ajax="true" process="@form formReg" />

					<p:commandButton value="Cancelar"
						actionListener="#{consumoController.accion('C')}"
						icon="ui-icon-cancelar" styleClass="btn btn-primary"
						update=":frmAdm :frmAdm" ajax="true" process="@this" />

				</h:panelGroup>
			</h:form>
		</h:panelGroup>

		<h:panelGroup id="panelConsulta"
			rendered="#{consumoDatamanager.verPantalla=='C'}">

			<p:commandButton value="Nuevo"
				actionListener="#{consumoController.accion('N')}"
				icon="ui-icon-nuevo" styleClass="btn btn-primary"
				update=":frmAdm :frmAdm:panelNuevo" />
			
			<p:commandButton value="Consultar"
				actionListener="#{consumoController.consultar}"
				icon="ui-icon-buscar" styleClass="btn btn-secondary"
				update=":frmAdm" ajax="true" />
				
			<h:panelGrid columns="4" cellpadding="10" cellspacing="10">
				<p:outputLabel value="Fecha Inicio:" for="fechIni" />
				<p:calendar id="fechIni" value="#{consumoDatamanager.fechaIni}"
					pattern="dd/MM/yyyy" styleClass="withCalendarConsulta" locale="es"
					maxdate="#{now}" />

				<p:outputLabel value="Fecha Fin:" for="fechFin" />
				<p:calendar id="fechFin" value="#{consumoDatamanager.fechaFin}"
					pattern="dd/MM/yyyy" styleClass="withCalendarConsulta" locale="es"
					maxdate="#{now}"/>
			</h:panelGrid>

			<br />
			<br />
			<p:dataTable id="dataTable" value="#{consumoDatamanager.consumoList}"
				var="listCons" paginator="true" paginatorPosition="bottom" rows="10"
				paginatorAlwaysVisible="false"
				emptyMessage="#{msg['etiqueta.comun.tabla.vacia']}"
				styleClass="table table-hover" style="overflow: auto; width: auto;"
				selection="#{consumoDatamanager.consumoSelect}"
				rowKey="#{listCons.idConsum}">


				<p:column headerText="#{msg['etiqueta.tabla.medidor']}"
					filterBy="#{listCons.idCodMed}" filterMatchMode="contains">
					<h:outputText id="codreg" value="#{listCons.idCodMed}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.consumo']}">
					<h:outputText value="#{listCons.totConsum}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.fecha.registro']}">
					<h:outputText value="#{listCons.fechaReg}" />
				</p:column>

				<p:column headerText="Modificar">
					<p:commandButton value="Modificar"
						actionListener="#{consumoController.modificar(listCons)}"
						icon="ui-icon-editar" update="frmAdm"
						style="width:95px;text-align:center;font-size: 11px !important;"
						styleClass="btn btn-info" />
				</p:column>

				<p:column headerText="Eliminar">
					<p:commandButton value="Eliminar"
						actionListener="#{consumoController.eliminar(listCons)}"
						icon="ui-icon-eliminar" styleClass="btn btn-danger"
						style="width:95px;text-align:center;font-size: 11px !important;"
						update=":frmAdm:panelConsulta :frmAdm:dataTable" />
				</p:column>
			</p:dataTable>

		</h:panelGroup>


	</ui:define>
</ui:composition>
