<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutPantallas.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">

	<ui:param name="idForm" value="frmAdm" />
	<ui:param name="formul" value="#{medidoresController.formul}" />
	<ui:param name="controlador" value="#{medidoresController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />
	<ui:param name="tituloOpcionUsuario"
		value="#{msg['etiqueta.titulo.administrar.medidores']}" />
	<ui:param name="tituloPaginaActual"
		value="#{msg['etiqueta.titulo.administrar.medidores']}" />


	<ui:define name="contentCenter">
		<h:outputText value="#{controlador.formul}"></h:outputText>

		<h:panelGroup>
			<p:commandButton id="botonNuevo" value="Nuevo"
				actionListener="#{medidoresController.accion('N')}"
				icon="ui-icon-nuevo" styleClass="btn btn-primary" update=":frmAdm"
				disabled="#{medidoresDatamanager.habilitarNuevo}"
				rendered="#{medidoresDatamanager.accion!='N' and medidoresDatamanager.accion!='M'}" />
			<br />
			<br />
		</h:panelGroup>
		<h:panelGroup>
			<h:panelGrid columns="3" cellpadding="10" cellspacing="10"
				rendered="#{medidoresDatamanager.accion!='N' and medidoresDatamanager.accion!='M'}">
				<p:outputLabel value="Cédula:" for="cedula" />
				<p:inputText id="cedula" value="#{medidoresDatamanager.cedula}" />

				<p:commandButton value="Consultar"
					actionListener="#{medidoresController.consultar}"
					icon="ui-icon-buscar" styleClass="btn btn-secondary"
					update=":frmAdm" ajax="true" />
			</h:panelGrid>

		</h:panelGroup>
		<h:panelGroup id="panelNuevo"
			rendered="#{medidoresDatamanager.accion=='M' or medidoresDatamanager.accion=='N'}">
			<h:panelGroup id="panelFormulario">
				<h:form id="formUsu">
					<h:panelGrid columns="6" cellpadding="10" cellspacing="10">
						<p:outputLabel value="Nombre:" for="nombre" />
						<p:inputText id="nombre"
							value="#{medidoresDatamanager.usuarioSelect.nomUsu}"
							required="true" requiredMessage="Nombre es requerido."
							disabled="true" />

						<p:outputLabel value="Sector:" />
						<p:selectOneMenu id="sectOne"
							value="#{medidoresDatamanager.medidorFormul.id_sec}"
							effect="fold" style="width: 150px !important;"
							styleClass="withSelectOneMenu" required="true"
							requiredMessage="Sector es requerido.">
							<p:ajax event="change" execute="@this"
								listener="#{medidoresController.cambioSector()}"></p:ajax>
							<f:selectItem itemLabel="Seleccione" itemValue="" />
							<f:selectItems value="#{medidoresDatamanager.secComList}"
								var="list" itemLabel="#{list.nomSec}" itemValue="#{list.idSec}" />
						</p:selectOneMenu>

						<p:outputLabel value="Dirección:" />
						<p:inputText value="#{medidoresDatamanager.usuarioSelect.dirUsu}"
							required="true" requiredMessage="Dirección es requerido."
							disabled="true" />

						<p:outputLabel value="Teléfono:" />
						<p:inputText value="#{medidoresDatamanager.usuarioSelect.telUsu}"
							disabled="true" />


						<p:outputLabel value="Celular:" />
						<p:inputText value="#{medidoresDatamanager.usuarioSelect.celUsu}"
							disabled="true" />

						<p:outputLabel value="Servicio:" />
						<p:selectOneMenu id="servicio"
							value="#{medidoresDatamanager.medidorFormul.id_serv}"
							effect="fold" style="width: 150px !important;"
							styleClass="withSelectOneMenu" required="true"
							requiredMessage="Servicio es requerido.">

							<p:ajax event="change" execute="@this"
								listener="#{medidoresController.cambioServicio()}"></p:ajax>
								
							<f:selectItem itemLabel="Seleccione" itemValue="" />
							<f:selectItems value="#{medidoresDatamanager.serviciosList}"
								var="list" itemLabel="#{list.nomServ}"
								itemValue="#{list.idServ}" />
						</p:selectOneMenu>

						<p:outputLabel value="Codigo:" for="cod" />
						<p:inputText id="cod"
							value="#{medidoresDatamanager.medidorFormul.idCod}"
							required="true" requiredMessage="Código es requerido" />

						<p:outputLabel value="Modelo:" for="mod" />
						<p:inputText id="mod"
							value="#{medidoresDatamanager.medidorFormul.modelo}"
							required="true" requiredMessage="Modelo es requerido" />

						<p:outputLabel value="Tiempo de Vida:" for="tvida" />
						<p:inputText id="tvida"
							value="#{medidoresDatamanager.medidorFormul.tiemVidMed}"
							required="true" requiredMessage="Tiempo de vida es requerido" 
							onkeypress="return numeros(event)"/>

						<p:outputLabel value="Contador Inicial:" for="cIni" />
						<p:inputText id="cIni"
							value="#{medidoresDatamanager.medidorFormul.contIniMed}"
							required="true" requiredMessage="Contador inicial es requerido"
							onkeypress="return numeros(event)"/>

						<p:outputLabel value="Fecha de Ingreso: " for="fechIng" />
						<p:calendar id="fechIng"
							value="#{medidoresDatamanager.medidorFormul.fechaIngMed}"
							pattern="dd/MM/yyyy" styleClass="withCalendarConsulta"
							locale="es" maxdate="#{now}" required="true"
							requiredMessage="Fecha Ingreso es requerido" />

					</h:panelGrid>

					<p:separator styleClass="separador"></p:separator>
					<h:panelGroup styleClass="barraInferior">

						<p:commandButton value="Guardar"
							actionListener="#{medidoresController.guardar()}"
							icon="ui-icon-guardar" style="width:101px;"
							styleClass="btn btn-success" update=":frmAdm :frmAdm:panelNuevo"
							ajax="true" process="@form formUsu" />

						<p:commandButton value="Cancelar"
							actionListener="#{medidoresController.accion('C')}"
							icon="ui-icon-cancelar" styleClass="btn btn-primary"
							update=":frmAdm" ajax="true" process="@this" />

					</h:panelGroup>

				</h:form>
			</h:panelGroup>
		</h:panelGroup>

		<h:panelGroup id="panelConsulta"
			rendered="#{medidoresDatamanager.accion=='C'}">
			<p:separator styleClass="separador"></p:separator>
			<p:dataTable id="dataTable"
				value="#{medidoresDatamanager.listMedidores}" var="listMed"
				paginator="true" paginatorPosition="bottom" rows="10"
				paginatorAlwaysVisible="false"
				emptyMessage="#{msg['etiqueta.comun.tabla.vacia']}"
				styleClass="table table-hover" style="overflow: auto; width: auto;"
				selection="#{medidoresDatamanager.medidorFormul}"
				rowKey="#{listMed.idMed}">


				<p:column headerText="#{msg['etiqueta.tabla.codigo.reg']}">
					<h:outputText value="#{listMed.idCod}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.cedula']}">
					<h:outputText value="#{listMed.tblUsuario.cedUsu}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.sector']}">
					<h:outputText value="#{listMed.tblSecCom.nomSec}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.servicio']}">
					<h:outputText value="#{listMed.tblServicio.nomServ}" />
				</p:column>

				<p:column headerText="Modificar">
					<p:commandButton value="Modificar"
						actionListener="#{medidoresController.modificar(listMed)}"
						icon="ui-icon-editar" update=":frmAdm"
						style="width:95px;text-align:center;font-size: 11px !important;"
						styleClass="btn btn-info" />
				</p:column>

				<p:column headerText="Eliminar">
					<p:commandButton value="Eliminar"
						actionListener="#{medidoresController.eliminar(listMed)}"
						icon="ui-icon-eliminar" styleClass="btn btn-danger"
						style="width:95px;text-align:center;font-size: 11px !important;"
						update=":frmAdm:panelConsulta :frmAdm:dataTable" />
				</p:column>
			</p:dataTable>

		</h:panelGroup>
	</ui:define>
</ui:composition>
