<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/templates/pages/pageLayoutPantallas.xhtml"
	xmlns:s="http://java.sun.com/jsf/composite/components">

	<ui:param name="idForm" value="frmAdm" />
	<ui:param name="formul" value="#{multasController.formul}" />
	<ui:param name="controlador" value="#{multasController}" />
	<ui:param name="westLength" value="245" />
	<ui:param name="eastLength" value="530" />
	<ui:param name="tituloOpcionUsuario"
		value="#{msg['etiqueta.titulo.multas']}" />
	<ui:param name="tituloPaginaActual"
		value="#{msg['etiqueta.titulo.multas']}" />


	<ui:define name="contentCenter">
		<h:outputText value="#{controlador.formul}"></h:outputText>


		<h:panelGroup id="panelNuevo"
			rendered="#{multasDatamanager.verPantalla=='N'}">

			<h:form id="formMul">
				<h:panelGrid columns="6" cellpadding="10" cellspacing="10">

					<h:outputLabel value="Sector:" />
					<p:selectOneMenu id="sectOne"
						value="#{multasDatamanager.mulFormul.idSec}" effect="fold"
						style="width: 150px !important;" styleClass="withSelectOneMenu"
						required="true" requiredMessage="Sector es requerido.">
						<f:selectItem itemLabel="Seleccione" itemValue="" />
						<f:selectItems value="#{multasDatamanager.secComList}" var="list"
							itemLabel="#{list.nomSec}" itemValue="#{list.idSec}" />
					</p:selectOneMenu>

					<h:outputLabel value="Tipo de Sanción:" for="multaTip" />
					<p:inputText id="multaTip"
						value="#{multasDatamanager.mulFormul.detMulta}" required="true"
						requiredMessage="Tipo de sanción es requerido." />

					<h:outputLabel value="Valor de Sanción:" for="valorMul" />
					<p:inputText id="valorMul"
						value="#{multasDatamanager.mulFormul.valMulta }" required="true"
						requiredMessage="Valor de sanción es requerida." />

				</h:panelGrid>
				<p:separator styleClass="separador"></p:separator>
				<h:panelGroup styleClass="barraInferior">

					<p:commandButton value="Guardar"
						actionListener="#{multasController.guardar}"
						icon="ui-icon-guardar" style="width:101px;"
						styleClass="btn btn-success" update=":frmAdm :frmAdm:panelNuevo"
						ajax="true" process="@form formMul" />

					<p:commandButton value="Cancelar"
						actionListener="#{multasController.accion('C')}"
						icon="ui-icon-cancelar" styleClass="btn btn-primary"
						update=":frmAdm :frmAdm" ajax="true" process="@this" />

				</h:panelGroup>
			</h:form>
		</h:panelGroup>

		<h:panelGroup id="panelConsulta"
			rendered="#{multasDatamanager.verPantalla=='C'}">
			<h:panelGrid columns="3">
				<p:commandButton value="Nuevo"
					actionListener="#{multasController.accion('N')}"
					icon="ui-icon-nuevo" styleClass="btn btn-primary"
					update=":frmAdm :frmAdm:panelNuevo" />

				<p:commandButton value="Agregar Sanciones"
					actionListener="#{multasController.accion('S')}"
					icon="ui-icon-nuevo" styleClass="btn btn-primary"
					style="width: 100% !important;"
					update=":frmAdm :frmAdm:panelNuevo,:frmAdm:panelSanciones" />

				<p:commandButton value="Buscar Sanciones"
					actionListener="#{multasController.consultarMul('BS')}"
					icon="ui-icon-buscar" styleClass="btn btn-secondary"
					style="width: 100% !important;"
					update=":frmAdm :frmAdm:panelNuevo,:frmAdm:panelSanciones,:frmAdm:panelBusSanciones" />

			</h:panelGrid>
			<br />
			<br />
			<p:dataTable id="dataTable" value="#{multasDatamanager.mulList}"
				var="listMul" paginator="true" paginatorPosition="bottom" rows="10"
				paginatorAlwaysVisible="false"
				emptyMessage="#{msg['etiqueta.comun.tabla.vacia']}"
				styleClass="table table-hover" style="overflow: auto; width: auto;"
				selection="#{multasDatamanager.mulSeleccion}"
				rowKey="#{listMul.idMulta}">


				<p:column headerText="#{msg['etiqueta.tabla.sector']}"
					filterBy="#{listMul.secComDTO.nomSec}" filterMatchMode="contains">
					<h:outputText id="codreg" value="#{listMul.secComDTO.nomSec}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.nombre.multa']}"
					filterBy="#{listMul.detMulta}" filterMatchMode="contains">
					<h:outputText value="#{listMul.detMulta}" />
				</p:column>

				<p:column headerText="#{msg['etiqueta.tabla.valor.multa']}">
					<h:outputText value="#{listMul.valMulta}" />
				</p:column>

				<p:column headerText="Modificar">
					<p:commandButton value="Modificar"
						actionListener="#{multasController.modificar(listMul)}"
						icon="ui-icon-editar" update="frmAdm"
						style="width:95px;text-align:center;font-size: 11px !important;"
						styleClass="btn btn-info" />
				</p:column>

				<p:column headerText="Eliminar">
					<p:commandButton value="Eliminar"
						actionListener="#{multasController.eliminar(listMul)}"
						icon="ui-icon-eliminar" styleClass="btn btn-danger"
						style="width:95px;text-align:center;font-size: 11px !important;"
						update=":frmAdm:panelConsulta :frmAdm:dataTable" />
				</p:column>
			</p:dataTable>

		</h:panelGroup>

		<h:panelGroup id="panelSanciones"
			rendered="#{multasDatamanager.verPantalla=='S'}">
			<h:form id="formSancionados">
				<h:panelGrid columns="2">
					<h:outputLabel value="Tipo de Sanción:" for="multaTip"
						style="width: 100% !important" />
					<p:selectOneMenu id="multaTip"
						value="#{multasDatamanager.mulSeleccion.idMulta}" effect="fold"
						style="width: 150px !important;" styleClass="withSelectOneMenu"
						required="true" requiredMessage="Seleccionar multa es requerido.">
						<f:selectItem itemLabel="Seleccione" itemValue="" />
						<f:selectItems value="#{multasDatamanager.mulList}" var="list"
							itemLabel="#{list.detMulta}" itemValue="#{list.idMulta}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<br />
				<br />
				<p:dataTable id="dataTableUser"
					value="#{multasDatamanager.sectorUsuarioList}" var="listUser"
					paginator="true" paginatorPosition="bottom" rows="10"
					paginatorAlwaysVisible="false"
					emptyMessage="#{msg['etiqueta.comun.tabla.vacia']}"
					styleClass="table table-hover" style="overflow: auto; width: auto;"
					selection="#{multasDatamanager.sectorUserSeleccionado}"
					rowKey="#{listUser.idUsu}">

					<p:column selectionMode="multiple"
						style="width:60px;text-align:center" />
					<p:column headerText="#{msg['etiqueta.tabla.cedula']}"
						filterBy="#{listUser.tblUsuario.cedUsu}" filterMatchMode="contains">
						<h:outputText id="cedulaou" value="#{listUser.tblUsuario.cedUsu}" />
					</p:column>

					<p:column headerText="#{msg['etiqueta.tabla.nombre']}"
						filterBy="#{listUser.tblUsuario.nomUsu}" filterMatchMode="contains">
						<h:outputText value="#{listUser.tblUsuario.nomUsu}" />
					</p:column>


					<p:column headerText="#{msg['etiqueta.tabla.sector']}"
						filterBy="#{listUser.secComDTO.nomSec}" filterMatchMode="contains">
						<h:outputText value="#{listUser.secComDTO.nomSec}" />
					</p:column>
				</p:dataTable>

				<p:separator styleClass="separador"></p:separator>
				<h:panelGroup styleClass="barraInferior">
					<p:commandButton value="Guardar"
						actionListener="#{multasController.guardarUsuMultas}"
						icon="ui-icon-guardar" style="width:101px;"
						styleClass="btn btn-success"
						update=":frmAdm :frmAdm:panelSanciones" ajax="true"
						process="@form formSancionados" />

					<p:commandButton value="Cancelar"
						actionListener="#{multasController.accion('C')}"
						icon="ui-icon-cancelar" styleClass="btn btn-primary"
						update=":frmAdm :frmAdm" ajax="true" process="@this" />

				</h:panelGroup>
			</h:form>
		</h:panelGroup>

		<h:panelGroup id="panelBusSanciones"
			rendered="#{multasDatamanager.verPantalla=='BS'}">
				
				<p:dataTable id="dataTableSUser"
					value="#{multasDatamanager.usuarioMulList}" var="listUserS"
					paginator="true" paginatorPosition="bottom" rows="10"
					paginatorAlwaysVisible="false"
					emptyMessage="#{msg['etiqueta.comun.tabla.vacia']}"
					styleClass="table table-hover" style="overflow: auto; width: auto;"
					selection="#{multasDatamanager.usuarioMulSelec}"
					rowKey="#{listUserS.idUsuMul}">

					<p:column headerText="#{msg['etiqueta.tabla.cedula']}"
						filterBy="#{listUserS.tblUsuario.cedUsu}"
						filterMatchMode="contains">
						<h:outputText id="cedulaou" value="#{listUserS.tblUsuario.cedUsu}" />
					</p:column>

					<p:column headerText="#{msg['etiqueta.tabla.nombre']}"
						filterBy="#{listUserS.tblUsuario.nomUsu}"
						filterMatchMode="contains">
						<h:outputText value="#{listUserS.tblUsuario.nomUsu}" />
					</p:column>
					
					<p:column headerText="#{msg['etiqueta.tabla.nombre.multa']}"
						filterBy="#{listUserS.tblMulta.detMulta}"
						filterMatchMode="contains">
						<h:outputText value="#{listUserS.tblMulta.detMulta}" />
					</p:column>
					
					<p:column headerText="#{msg['etiqueta.tabla.fecha']}"
						filterBy="#{listUserS.fechaReg}"
						filterMatchMode="contains">
						<h:outputText value="#{listUserS.fechaReg}" />
					</p:column>

					<p:column headerText="Eliminar">
						<p:commandButton value="Eliminar"
							actionListener="#{multasController.eliminarMul(listUserS)}"
							icon="ui-icon-eliminar" styleClass="btn btn-danger"
							style="width:95px;text-align:center;font-size: 11px !important;"
							update=":frmAdm:panelBusSanciones :frmAdm:dataTableSUser" />
					</p:column>

				</p:dataTable>

				<p:separator styleClass="separador"></p:separator>
				<h:panelGroup styleClass="barraInferior">

					<p:commandButton value="Cancelar"
						actionListener="#{multasController.accion('C')}"
						icon="ui-icon-cancelar" styleClass="btn btn-primary"
						update=":frmAdm :frmAdm" ajax="true" process="@this" />

				</h:panelGroup>
		</h:panelGroup>


	</ui:define>
</ui:composition>